@import "tailwindcss";

html {
  /* Fuerza el desplazamiento suave al presionar INICIO */
  scroll-behavior: smooth !important;
}

:root {
  /* Definimos negro puro y blanco */
  --background: #000000;
  --foreground: #ffffff;
}

body {
  /* Usamos las variables que definimos arriba */
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  overflow-x: hidden;
}

/* Opcional: Esto ayuda a que el fondo negro se vea bien en móviles */
::selection {
  background-color: #c5a059;
  color: #000;
}
